#{container}(data-no=post.no, class='#{classes} #{post.className()}',
  data-idx=post.idx, id=id || "p#{post.no}")
  h1.post-header.ptdr
    button.hide(type='button', value=post.no) &times;
    button.report(type='submit', form='reportform', name='no', value=post.no) !
    a.subject(href=post.url)= post.subject
    a.name(href=post.email ? "href='mailto:#{email}'" : '')= post.name

    span.tripcode= post.tripcode
    span.capcode= post.capcode
    span.posteruid= post.uid && "(ID: #{post.uid})"
    time(pubdate, datetime=post.time.toISOString(),
      title=post.time)= post.time.relativeTime()
    if post.op && post.thread.sticky
      img(alt='sticky', src='//static.4chan.org/image/sticky.gif')
    if post.op && post.thread.closed
      img(alt='closed', src='//static.4chan.org/image/closed.gif')
    a.permalink(href=post.url) No.
      span.no= post.no

  if post.image
    .fileinfo
      span.filename= post.image.filename || ''
      span.dimensions= post.image.width + "x" + post.image.height
      span.size= post.image.size
      a.saucelink(href='http://iqdb.org/?url=#{post.image.url}', target='_blank') iqdb
      a.saucelink(href='http://google.com/searchbyimage?image_url=#{post.image.url}', target='_blank') google
      a.saucelink(href='http://regex.info/exif.cgi/exif.cgi?imgurl=#{post.image.url}', target='_blank') exif
      a.saucelink(href='http://archive.foolz.us/#{board.name}/search/image/#{encodeURIComponent(post.image.md5)}',
         target='_blank') foolz

    a.file(target='_blank', href=post.image.url,
      data-width=post.image.width, data-height=post.image.height)
      img.thumb(src=post.image.thumb.url, width=post.image.thumb.width, height=post.image.thumb.height)

  if post.deletedImage
    img.deleted-image(alt="File deleted.", src="//static.4chan.org/image/filedeleted.gif")

  .comment= post.comment
  footer.backlinks= post.backlinks()